.navigator{
  text-align: center;
  /* border-radius: 5%; */
  margin: 30px;
  margin-top: 50px;
  /* color: rgb(26, 153, 75); */
  font-weight: 900;

}

h1{
  text-align: center; 
  font-style: italic;
  color: rgb(43, 226, 150);
}
.App{
  background-color: grey;
  width: fit-content;
  height: 350px;
}
.user__section {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  background: var(--skin-color);
  margin-top:-50px;
  margin-bottom: 30px;
  border-radius: 20px;}

  .pagination {
    width: 50%;
    margin: 15px auto;
    display: flex;
    justify-items: center;
    align-items: center;
    padding-bottom: 30px;
  }

  
.Login{
  display: grid;
  box-sizing: border-box;
  border-radius: 10px;
  margin:0 auto;
  justify-content: center;
  border-collapse: collapse;
  max-width: 30%;
  height: 70%;
  
  
  }
  form{
    background-color: rgb(177, 177, 194);
  }
  button{
      border-radius: 5px;
      margin:0 auto;
  justify-content: center;
   text-decoration-color: #000; color: #000;
   border: 5px solid black; 
  }
  .form-group{
      margin-top: 5%;
      margin: 10%;
  }
  input{
    border-radius: 10px;
    border: 5px solid black;
  }